{% extends 'base.html' %}
{% block title %} Delete Post {% endblock %}


{% block content %}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}

            <h1>Delete Post</h1>
            <br><br/>
            <h3> Delete: {{ post.title}} </h3>

            <div class="form-group">
                <form method = "POST">
                    {%csrf_token%}
                    <strong> Are you sure you want to delete this post?</strong><br/><br/>
                    <button class="btn btn-danger">Delete Post</button>
                    <br/><br/>
                    <a href="{% url 'home' %}" class="btn btn-secondary" >Back</a>
                </form>
            </div>

            <br><br/>
        {% else %}
            NOT ALLOWED
        {% endif %}
    {% else %}
        NOT ALLOWED
    {% endif %}
{% endblock %}
